body {
    background-color: gray;
    height: 100%;
    overflow: hidden;
}

#container {
    margin: 0;
    padding: 0;
}

#catch_me, #catch_me_prev_min, #catch_me_prev_max {
    width: 10px;
    height: 40px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#catch_me_prev_min {
    visibility: visible;
    position: initial;
}
#catch_me_prev_max {
    visibility: visible;
    position: initial;
}
#balls_prev{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#ball_preview {
    min-width: 200px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#menu, #settings {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#menu button {
    font-size: 5rem;
    padding: 10px;
    border: none;
    border-radius: 25px;
}

#menu #btn_settings {
    font-size: 1rem;
    margin: 0 0 10px 0;
}

#info_score {
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 20px;
}

.setting_input {
    width: 50px;
    margin: 0 0 10px 0;
}